.main {
  text-align: center;
  width: 60%;
}

.main > h1 {
  width: 133.33%;
  margin-left: -16.67%;
}

.main > p {
  color: white;
  text-align: justify;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-size: 13pt;
  font-weight: 200;
  font-family: "Karla";
}

img {
  width: 100%;
  border: 2px solid;
}

.main > table {
  width: 100%;
}

.main > pre {
  text-align: left;
  padding: 2%;
  font-family: monospace;
  border: 1px solid;
};
